header {
  display: flex;
  align-items: center;
  text-align: center;
  color: white;
  font-size: 2.5em;
  font-weight: bold;
  height: 10vh;
}

h1 {
  padding: 10px;
}

.container {
  display: grid;
  grid-template-columns: 150px 1fr 150px;
  gap: 20px;
  background-color: var(--accent-bgc);
  width: 100vw;
  font-size: clamp(20px, 2vh, 40px);
  justify-items: center;
  align-items: center;
  min-height: 60px;
}

button {
  height: 50px;
  width: 100px;
}


