:host {
  width: 100%;
  height: 100%;
  flex: 1;
  color: white;
  font-size: 1em;
  font-weight: bold;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  flex: 1;
}

.form-element {
  display: flex;
  width: 100%;
  flex: 1;
  max-width: 600px;
  flex-direction: column;
  gap: 10px;
  text-align: center;
  align-items: center;
  border-radius: 15px;
  background-color: rgb(0, 0, 0);
  padding: 5px;
  padding-bottom: 10px;
}

.label-container {
  display: grid;
  grid-template-columns: 1fr 30px;
  width: 100%;
  max-width: 600px;
  gap: 15px;
  justify-items: start;
  padding: 5px;
  border-radius: 15px;
}

input {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  outline: none;
  border: none;
  border: 5px solid rgb(148, 147, 139);
}

input:focus {
  border-color: rgb(219, 166, 21);
}

.form-element > button {
  width: 180px;
  padding: 10px;
  font-weight: bold;
  border-radius: 15px;
  border: 5px solid rgb(240, 232, 232);
  background-color: rgb(49, 173, 24);
  color: white;
}

.form-element > button:hover {
  background-color: orangered;
}

.ingredient-container {
  padding: 5px;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 30px;
  justify-items: start;
  justify-content: start;
  gap: 5px;
}


.label-container > button,
.ingredient-container > button {
  align-self: center;
  background: transparent;
  border: none;
  outline: none;
  padding: 10px;
  background-color: rgb(99, 87, 87);
  border-radius: 50%;
}

.label-container > button:hover,
.ingredient-container > button:hover {
  background-color: white;
}

.submit {
  width: 200px;
  height: 75px;
  border-radius: 15px;
  font-weight: bold;
  color: white;
  background-color: rgb(49, 173, 24);
  outline: none;
  border: 5px solid rgb(54, 53, 53);
  font-size: 1.5em;
}

.submit:hover {
  background-color: orangered;
  transform: translate(0,-6px);

}

input {
  width: 100%;
}
