<div class="container">
  <div>
    <label  for="email">EMAIL </label>
    <input  id="email" type="email" placeholder="moj.super.mail@gmail.com" [formControl]="email">
  </div>
  <div>
    <label for="password">HASŁO </label>
    <input id="password" type="password" placeholder="*****" [formControl]="password">
  </div>
  <div class="links">
    <div>
      <a href="#">Nie pamiętasz hasła?</a>
      <a href="#">Zarejestruj się</a>
    </div>
  </div>
  <div class="button">
    <button type="submit">ZALOGUJ</button>
  </div>
</div>





<!-- <form [formGroup] = "form"> -->
