:host {
  display: grid;
  justify-content: center;
  align-items: center;
  height: 80vh;
  width: 100%;
  font-size: 2em;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100vw;
}

.container > * {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  gap: 10px;
}

::placeholder,
input {
  padding: 5px;
  text-align: center;
}

input {
  width: 200px;
}

button {
  margin-top: 20px;
  width: 200px;
  height: 50px;
  align-self: center;
  font-size: 0.75em;
  font-weight: bold;
}

.button {
  display: flex;
  justify-content: center;
}

.links > * {
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
  place-content: center;
  padding: 20px;
}

a {
  font-size: 0.5em;
  text-decoration: none;
  color: black;
  text-decoration: underline;
  text-underline-offset: 4px;
  font-weight: bold;
}

a:hover {
  color: rgb(177, 55, 55);
}

