:host {
  display: grid;
  justify-content: center;
  align-items: center;
  height: 80vh;
  width: 100%;
  font-size: 2em;
  min-width: 850px;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 20px;
  width: 100vw;
}

.container > * {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  gap: 10px;
  position: relative;
}

::placeholder,
input {
  padding: 5px;
  text-align: center;
}

input {
  width: 200px;
}

button {
  margin-top: 20px;
  width: 200px;
  height: 50px;
  align-self: center;
  font-size: 0.75em;
  font-weight: bold;
}

/* button:hover {

} */

.button {
  display: flex;
  justify-content: center;
}

.links > * {
  display: flex;
  flex-direction: column;
  gap: 10px;
  place-items: center;
  padding: 20px;
}

a {
  font-size: 0.5em;
  text-decoration: none;
  color: black;
  font-weight: bold;
  cursor: pointer;
}

a:hover {
  color: rgb(177, 55, 55);
}

.alert {
  color: red;
  position: absolute;
}

.alert p {
  position: relative;
  width: 400px;
  text-align: center;
  font-size: 0.4em;
  font-style: italic;
  left: 0px;
  bottom: -85px;
}
