:host {
  display: grid;
  grid-template-rows: 50px 1fr;
  border: 2px solid rgba(0, 0, 0, 0.767);
  padding: 20px;
  border-radius: 5px;
  gap: 10px;
}

.cards-container {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.inputs-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 20px;
}
