:host {
  display: grid;
  grid-template-rows: 50px 1fr;
  border: 2px solid rgba(0, 0, 0, 0.767);
  padding: 20px;
  border-radius: 15px;
  gap: 10px;
  background-color: var(--main-bgc);
  height: 100%;
  min-width: 380px;
}

#container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

#details {
  display: flex;
  padding: 20px;
}

