<div class="modal">
  <h2>Oceń ten przepis</h2>
  <div class="stars-container">
    <!-- <div class="dummy"></div> -->
    <ng-container *ngFor="let star of stars; let index = index">
      <button class="star">
        <app-star height="60px" width="70px">
        </app-star>
      </button>
    </ng-container>
    <!-- <div class="dummy"></div> -->
  </div>
  <button class="submit">
    Zapisz
  </button>
</div>



<div>
  <!-- <input id="control" [formControl]="inputField" type="text" placeholder="Wyszukaj...">
  <label for="control">
    🔎
  </label>
</div> -->
