/* :host {
  height: 100vh;
  width: 100%;
} */


/*
div {
  height: 10vh;
  min-height: 100px;
  min-width: 850px;
  width: 100%;
} */




main {
  display: flex;
  height: 90vh;
}

/* footer {
  position: fixed;
  bottom: 0;
  height: 5vh;
  background-color: var(--accent-bgc);
  width: 100vw;
*/
