header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
  min-height: 100px;
  min-width: 850px;
  width: 100%;
  background-color: var(--accent-bgc);
  border-bottom: 10px solid var(--accent-bc);
  font-size: clamp(30px, 2.5em, 4vh);
  text-align: center;
  color: var( --accent-fc);
  position: fixed;
}

div {
  height: 10vh;
  min-height: 100px;
  min-width: 850px;
  width: 100%;
}

main {
  height: 90vh;
}

