
.modal {
  width: 500px;
  height: 400px;
  border: 2px solid black;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -250px;
  margin-top: -200px;
  background-color: white;
  display: flex;
  flex-direction: column;
  gap: 60px;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.stars-container {
  display: flex;
}

.submit {
  width: 100px;
  height: 50px;
  font-size: 20px;
  border-radius: 15px;
  border: 1px solid black;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}

.star {
  background-color: inherit;
  border: none;
  cursor: pointer;
}




/* .stars-container > * {
  background-color: inherit;
}

.stars-container:hover > * {
  background-color:red;
}

.stars-container > *:hover,
.stars-container > *:hover ~ * {
  background-color: inherit;
}

.stars-container > .star:hover {
  background-color: red;;
} */


/* .stars-container *{
  background-color: inherit;
}

.stars-container:hover polygon {
  background-color: inherit;
} */
/*
g .polygon {
  fill: gray;
}

g:hover .polygon {
  fill: black;
}

g .polygon,
g .polygon ~ .polygon {
  fill: gray;
} */

/* .polygon:hover {
  fill: black;
}

.stars-container:hover .polygon {
  fill: black;
}


.stars-container .polygon:hover,
.stars-container .polygon:hover ~ .polygon{
  fill: black;
} */



/* .stars-container .polygon {
  fill: gray;
}

.stars-container:hover .polygon {
  /* fill: black; */
/* } */






/*
::ng-deep #main {
  /* filter: blur(10px);
*/




button:hover ~ button .polygon{
  fill: black;
}

button:hover .polygon {
  fill: black;
}

.stars-container {
  transform: rotate(180deg);
}

.star {
  transform: rotate(180deg);
}

.submit {
  cursor: pointer;
}

.submit:hover {
  background-color: red;
}
