.container:hover {
  background-color: #ffa913;
  transform: translate(0,-6px);
  box-shadow: 0px 0px 25px 2px #fafcff;
}

.container {
  display: flex;
  flex: 1;
  width: 300px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  cursor:pointer;
  color: white;
  font-weight: bold;
  font-size: 1.5em;
  text-align: center;
  border-radius: 15px;
  background-color: #ee9a0ae3;
}

.stars {

  padding: 5px;
  border-radius: 15px;
  gap: 5px;
  display: flex;
}

