:host {
  display: grid;
  grid-template-rows: 50px 1fr;
  padding: 20px;
  border: 2px solid rgba(168, 159, 159, 0.767);
  border-radius: 5px;
  gap: 10px;
  background-color: var(--main-bgc);
}

.cards-container {
  display: flex;
  align-content: flex-start;
  justify-content: flex-start;
  gap: 20px;
  flex-wrap: wrap;
  min-width: 380px;
}

.inputs-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 20px;
}

